<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StringConexao" 
			connectionString="Data Source=DESKTOP-PUMGKOJ\SQLEXPRESS;Initial Catalog=CodersGrowthTeste;Persist Security Info=True;User ID=sa;Password=sap@123;Trust Server Certificate=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>